<h2>Actors</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Name</th>
		<th>Gender</th>
		<th>DOB</th>
		<th>Nationality</th>
		<th>Credited Roles</th>
	</tr>
	</thead>
	<tbody>
		{{#each actors}}
		<tr>
			<td>{{this.actor_name}}</td>
			<td>{{this.gender}}</td>
			<td>{{this.dob}}</td>
			<td>{{this.nationality}}</td>
			<td>{{this.credited_roles}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>